<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Data Converters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">
      <h1>Data Converters</h1>
      <form action="/api/convert/json">
        <fieldset>
          <legend>Use a link to a file</legend>
          <label for="url">URL</label>
          <input type="text" name="url" placeholder="http://example.com/example.csv">
          <label for="type">Type</label>
          <select name="type">
            <option value="csv">CSV</option>
            <option value="xls">XLS</option>
            <option value="xlsx">XLSX</option>
          </select>
          <label for="callback">Callback Function</label>
          <input type="text" name="callback" placeholder="myfunction">
          <br />
          <input type="submit" value="Submit" />
        </fieldset>
      </form>

      <form enctype="multipart/form-data" action="/api/convert/json" method="POST">
        <fieldset>
          <legend>Upload a file</legend>
          <label for="file">File</label>
          <input type="file" name="file" />
          <label for="type">Type</label>
          <select name="type">
            <option value="csv">CSV</option>
            <option value="xls">XLS</option>
            <option value="xlsx">XLSX</option>
          </select>
          <label for="callback">Callback Function</label>
          <input type="text" name="callback" placeholder="myfunction">
          <br />
          <input type="submit" value="Submit" />
        </fieldset>
      </form>
    </div> <!-- /container -->

  </body>
</html>
