<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Data ConvertersRaven</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

    </head>
    <body>
      <p>Web services for converting data from one format to another. Supports <a href="https://en.wikipedia.org/wiki/Cross-Origin_Resource_Sharing">CORS</a> and JSONP.</p>
      <p>Conversions Possible</p>
      <ul>
        <li><p><a href="http://converter.dev.okfn.org/api/convert/json?url=http://data.london.gov.uk/datafiles/transport/tfl_passengers.csv">CSV - JSON converter</a></p>
        <p>API Example - /api/json?url=http://example.com/example.csv or /api/json?url=http://example.com/example.csv&amp;callback=mycallback</p></li>
      </ul>
    </body>
</html>
